*.c linguist-language=C
*.h linguist-language=C

*.py linguist-documentation
src/*.py linguist-documentation
process_frames.py linguist-documentation

bin/* linguist-vendored  
lib/* linguist-vendored
include/* linguist-vendored
pyvenv.cfg linguist-vendored

assets/* linguist-vendored

*.md linguist-documentation
LICENSE linguist-documentation
Makefile linguist-documentation